body {
  background-color: #eae8f7;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #885df1;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
}

form {
  padding: 30px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(147, 132, 213, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #8e7ded;
}

.submit-button {
  margin-left: 10px;
  background: #885df1;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 16px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #885df1;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
